<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsalazar.molonometro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".area_register.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".area_register.SetFirstProfileDataActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".area_home.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".area_new_group.NewGroupActivity"
            android:label="@string/new_group"
            android:parentActivityName=".area_home.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".area_home.MainActivity" />
        </activity>

        <!--android:theme="@style/AppTheme.NoActionBar"-->

        <activity
            android:name=".area_adjust.AccountActivity"
            android:label="@string/adjust_activity"
            android:parentActivityName=".area_home.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".area_home.MainActivity" />
        </activity>

        <activity
            android:name=".area_adjust.EditFieldActivity"
            android:label="@string/edit_field"
            android:parentActivityName=".area_adjust.AccountActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".area_adjust.AccountActivity" />
        </activity>
    </application>

</manifest>